@inherits LayoutComponentBase

<PageTitle>BlazorAppServer</PageTitle>

<div >
    <div>
        <NavMenu />
    </div>
    <main>
        <div align="center">
           @Body
        </div>
    </main>
</div>
