@inherits LayoutComponentBase

<PageTitle>BlazorAppServer</PageTitle>

<div class="container" >
    <div>
        <NavMenu />
    </div>
    <main>
        <div >
           @Body
        </div>
    </main>
</div>
