@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApplication1.Models.Customer
@{
    
}
<html>
    <head>
        <title>Enter Customer</title>
    </head>
    <body>
    <div> 
        <form action="Submit" method="post">
            Customer Name <input name="CustomerName"  type="text" value="@Model.CustomerName" /><br />
            @{
               @Html.ValidationMessageFor(x=>x.CustomerName)
            }<br />
            Customer Code <input name="CustomerCode" type="text" value="@Model.CustomerCode"/><br />
             @{
               @Html.ValidationMessageFor(x=>x.CustomerCode)
            }
            <br />
            <input id="Submit1" type="submit" value="submit" />
        </form>
        <br />
     </div>
</body>
</html>
