@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApplication1.Models.Customer
@{

}
<html>
    <head>
<title></title>
    </head>
    <body>
        <div>
            CustomerName:@Model.CustomerName <br />
            CustomerCode:@Model.CustomerCode
        </div>
    </body>
</html>