@page "/home"
@using BlazorAppServer.SessionStorage
@inject ISessionStorageService sessionStorage

<div class="row">
    <div class="flex-column align-content-left">
        <h1>Session Blazor</h1>
        <input class="form-control" type="text" placeholder="Type session Value" @bind="Name" />
        <br />
        <div class="flex-column align-content-lg-end">
            <button class="btn btn-dark" @onclick="SaveName">Save Name</button>
        </div>
        
        <br />
        <br />
        <span>Value read from Session Storage :</span>@NameFromSessionStorage
        <br />
        <span>Items in the Session Storage :</span>@ItemInSessionStorage
        <br />
        <button class="btn btn-dark" @onclick="RemoveName">Remove Name</button>
        <br />
        <br />
        <button class="btn btn-dark" @onclick="ClearSessionStorage">Clear Session Storage</button>
        <br />
    </div>
</div>

@code {

    public string NameFromSessionStorage { get; set; }
    public int ItemInSessionStorage { get; set; }
    public string Name { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetNameFromSessionStorage();

            await GetSessionStorageLenght();

            sessionStorage.Changed += (sender, e) =>
                      {
                          Console.WriteLine($"Key:{e.Key} Old Value:{e.OldValue} New Value:{e.NewValue}");
                      };
            StateHasChanged();
        }
    }
    async Task SaveName()
    {
        await sessionStorage.SetItemAsync("name", Name);
        await GetNameFromSessionStorage();
        await GetSessionStorageLenght();
        Name = "";
    }

    async Task RemoveName()
    {
        await sessionStorage.RemoveItemAsync("name");
        await GetNameFromSessionStorage();
        await GetSessionStorageLenght();
    }
    async Task ClearSessionStorage()
    {
        await sessionStorage.ClearAsync();
        await GetNameFromSessionStorage();
        await GetSessionStorageLenght();
    }

    async Task GetNameFromSessionStorage()
    {
        NameFromSessionStorage = await sessionStorage.GetItemAsync<string>("name");
        if (string.IsNullOrEmpty(NameFromSessionStorage))
        {
            NameFromSessionStorage = "Nothing is in Session";
        }
    }

    async Task GetSessionStorageLenght()
    {
       //Console.WriteLine(await sessionStorage.LengthAsync());
        ItemInSessionStorage = await sessionStorage.LengthAsync();
    }
}