@page "/login"

@using Microsoft.AspNetCore.Http
@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime
@code{
       
    public string Username { get; set; }
    public string Password { get; set; }
}



<div class="col-md-12">
    <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
</div>

<div class="col-md-12 form-group">
    <div class="col-md-6 input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" @bind="Username" class="form-control" id="username"
               placeholder="Enter UserName" title="Enter UserName" />
    </div>
</div>
<div class="col-md-12 form-group">
    <div class="col-md-6 input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" @bind="Password" class="form-control" id="password"
               placeholder="Enter Password" title="Enter Password" />

    </div>
</div>


