@{
}
<html>
    <head>
        <title>MyHomePage</title>
    </head>
    <body>
        <div>
            Welcome to my first MVC core MyHomePage.<br />
            @ViewData["Time"]<br />
            @ViewBag.Time<br />
            @TempData["Message"]<br />
        </div>
    </body>
</html>
